@mixin input-box-style {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
}

@mixin input-box-focus {
    background-color: #ffffff;
    outline: none !important;
    border-color: #d8d8d8;
    box-shadow: 0 0 7px #bdbdbd;
}

@mixin label-text {
    font-size: 1.3rem;
}


.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1 {
    display: inline-flex;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 3rem;
}

.contact-form {
    width: 1200px;
    margin-bottom: 300px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-btn {
        width: 170px;
        height: 48px;
        background-color: #757575;
        transition: all 200ms linear;
        color: azure;
        font-family: 'Nunito Sans', sans-serif;
        border-style: none;
        border-radius: 5px;
        font-size: 1.4rem;
        cursor: pointer;
        letter-spacing: 3px;
        font-weight: 300;
    }
    .form-btn:hover {
        background-color: rgb(16, 1, 0);
    }
}

.form-contents {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .first-name {
        @include label-text();
        margin-top: 30px;
        input {
            width: 450px;
            @include input-box-style()
        }
        input:focus {
            @include input-box-focus()
        }
    }
    .last-name {
        margin-top: 30px;
        @include label-text();
        input {
            @include input-box-style()
        }
        input:focus {
            @include input-box-focus()
        }
    }
    .email {
        margin-top: 30px;
        @include label-text();
        input {
            width: 450px;
            @include input-box-style()
        }
        input:focus {
            @include input-box-focus()
        }
    }
    .company {
        margin-top: 30px;
        @include label-text();
        input {
            @include input-box-style()
        }
        input:focus {
            @include input-box-focus()
        }
        
    }
    .message {
        width: 1008px;
        margin-top: 30px;
        margin-bottom: 50px;
        @include label-text();
        textarea {
            resize: none;
            margin-top: 20px;
            padding-left: 10px;
            padding-top: 10px;
            background-color: #f5f5f5;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1rem;
        }
        textarea:focus {
            @include input-box-focus()
        }
    }
    div {
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    
}