<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/base.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <title>Imani Mwamlima</title>

    <!-- Import fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">



</head>
<body>
    <header>
        <div class="title"><a href="{% url 'home' %}">Imani Mwamlima</a></div>
        <div class="nav">
            <p><a href="{% static 'assets/Resume.pdf' %}">Resume</a></p>
            <p><a href="{% url 'contact' %}">Contact</a></p>
        </div>
    </header>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>