<!-- grid container for all project cards -->
<section class="projects"> 

    

    <!-- loop to create each project card from the list of projects -->
    {% for project in projects %}
    <div class="project-card-box">
        <a href="{% url 'project_page' project_id=project.id %}">  <!-- makes the entire card clickable to go to that project's page -->
            <div class="project-card">
                <div class="project-img">
                    <img src="static/assets/{{project.get_image_name}}" alt="">
                </div>
                <div class="project-card-content">
                    <h2>{{project.title}}</h2>
                    <p>{{project.description}}</p>
                    <p class="project-tools-card">Tools: 
                        {% for tool in project.tools %}
                        {% if forloop.last %}
                            <b>{{tool}}</b>
                        {% else %}
                            <b>{{tool}}, </b>
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p class="project-date">Project Created: {{project.created_at.date}}</p> 
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
