{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="project-box">
    <div class="project-title-section">
        <p>{{project.created_at.date}}</p>
        <h2>{{project.title}}</h2>
        <img src="{% static 'assets/' %}{{ project.get_image_name }}" alt="Project Photo">
    </div>
    <div class="project-content">
        <p class="github-link">Github: <a href="{{project.github_link}}">{{project.github_link}}</a></p>
        <p class="project-description">{{project.description}}</p>
    </div>
    
</div>

<hr>

<div class="project-entries">
    {% for project_entry in project_entries %}
    <div class="entry-box">
        <h2>{{project_entry.post_title}}</h2>
        <p>{{project_entry.post_date.date}}</p>
        <p>{{project_entry.content}}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}