body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
}

.title {
    font-size: 100px;
    padding-top: 5px;
    padding-left: 25px;
    font-weight: 700;
    a {
        text-decoration: none;
        color: black;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    p {
        font-size: 25px;
        display: inline-flex;
        padding-top: 20px;
        padding-right: 40px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    :last-child {
        padding-right: 10px;
    }
}