.project-tools {
    margin-top: 30px;
    font-size: 1.1rem;
}

.project-entry-header {
    display: flex;
    justify-content: center;
    h2 {
        margin-top: 50px;
        font-size: 2.5rem;
    }
}